VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=seunfashionpalace.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=seunfashionpalace
VITE_FIREBASE_STORAGE_BUCKET=seunfashionpalace.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=786962013355
VITE_FIREBASE_APP_ID=1:786962013355:web:e2c0a387b625daac01abee
VITE_FIREBASE_MEASUREMENT_ID=G-KDZ9MDLDGC
